<!DOCTYPE html>
<html lang"br">
<head>
<title>Curso de CSS</title>
<meta charset = "utf-8" >
<link rel = "stylesheet" type = "text/css" href = "estilo.css" >
</head>

<body>
<div class="caixa">
 <form>
      <label><small>Nota 01:</small><input type="text" name="" placeholder="Insira a nota 01"></label>
	  <label><small>Nota 02:</small><input type="text" name="" placeholder="Insira a nota 02"></label>
	  <label><small>Nota 03:</small><input type="text" name="" placeholder="Insira a nota 03"></label>
	  <span>Resultado</span>
	  <input type="submit" value="Calcular" class="btn">
	  
   </form>
</div>
    
   
</body>

</html>